/* Global */

@font-face {
    font-family: SuperGrotesk;
    src: url('../fonts/SuperGroteskOT.otf');
    font-style: normal;
    font-weight: bold;
}

body {
    font-family: 'SuperGrotesk';
    font-size: 1em;
    color: #8a8683;
    background-color: #ffffff;

    /*font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #8a8683;
    background-color: #ffffff;*/
}

img {
    max-width: 100%;
}

a:link {
    color: rgb(228, 31, 58);
    text-decoration: none;
}

a:visited {
    color: rgb(228, 31, 58);
    text-decoration: none;
}

/* General Classes */

.menu {
    position: fixed;
    top: 0px;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    z-index: 100;
}

.white_bg {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    margin-top: 1.5em;
    margin-bottom: 1em;
    color: rgb(128, 128, 128);
}

.navigation {
    float: right;
    list-style: none;
    margin: 0;
}

.navigation li {
    float: left;
    padding: 0 0 0 50px;
}

.navigation li:hover {
    cursor: pointer;
    color: #a9d3d0;
}

.navigation .active {
    cursor: pointer;
    color: rgb(228, 31, 58);
    font-weight: bold;
}

.slide {
    background-attachment: fixed;
    width: 100%;
    height: auto;
    position: relative;
    padding: 80px 0;
}

/* General IDs */

#devider {
    margin-bottom: 3em;
    background: url("../images/section_divider.png") repeat-x scroll 50% 100% rgb(255, 255, 255);
    border: 0px none;
}

#devider h1 {
    color: rgb(228, 31, 58);
    text-align: left;
    line-height: 0px;
}

#logo {
    text-align: center;
    margin: 10px 0;
}

#nav {
    text-align: right;
    margin: 30px 0 0 0;
}

#slide_id {
    background-color: #ffffff; /*IE-Fallback*/
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(128, 128, 128);
}

#slide_2_id {
    background-color: #ffffff; /*IE-Fallback*/
    background-color: rgba(255, 255, 255, 1);
    color: rgb(128, 128, 128);
    text-align: center;
}

/********************************************************************/
/************************** Start ***********************************/
/********************************************************************/

#logo-background {
    background-color: rgb(228, 31, 58);
    text-align: center;
    margin-top: 12em;
    padding-top: 2em;
    padding-bottom: 2em;
}

#slide1 {
    background-image: url("../images/background/start_web.jpg");
    height: 50em;
}

/********************************************************************/
/************************** Bands ***********************************/
/********************************************************************/

#slide2 {
    background-color: #ffffff;
    color: #000000;
    height: auto;
}

#slide2 h1 {
    font-size: 2em;
    line-height: 0px;
    color: rgb(228, 31, 58);
}

#slide2 h2 {
    font-size: 2em;
    color: rgb(128, 128, 128);
    line-height: 0px;
    padding-bottom: 30px;
    padding-top: 20px;
}

#slide2 .white_bg {
    background-color: rgba(255, 255, 255, 1);
    color: rgb(128, 128, 128);
    padding-bottom: 2em;
}

#slide2 .img_wrap {
    display: block;
    background: none repeat scroll 0% 0% rgb(228, 31, 58);
    text-align: center;
    margin: 0px;
    padding: 5px;
    border-radius: 4px 4px 4px 4px;
    overflow: hidden;
    min-height: 8em;
}

#slide2 .desc_wrap {
    display: block;
    padding: 27px 0px;
    text-align: center;
    background: url("../images/tri_red.png") no-repeat scroll 50% 0px rgb(255, 255, 255);
}


/********************************************************************/
/*************************** Park ***********************************/
/********************************************************************/

#slide3 {
    background: url(../images/background/parkpano_web.jpg) no-repeat left center;
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
}

#slide3 h1 {
    font-size: 3em;
    line-height: 0px;
    color: rgb(228, 31, 58);
}

#slide3 h2 {
    font-size: 2em;
    color: rgb(128, 128, 128);
    line-height: 0px;
    padding-bottom: 30px;
    padding-top: 20px;
}

#slide3 p {
    padding: 10px;
}

#slide3 .wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../images/dot-pattern.png);
}


/************************************************************************/
/************************** Impressum ***********************************/
/************************************************************************/
#slide4 {
    color: rgb(128, 128, 128);
    background: url(../images/background/park_iload_web.jpg) no-repeat left center;
    background-attachment: fixed;
    background-color: #000000;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
}

#slide4 h1 {
    font-size: 3em;
    line-height: 0px;
    color: rgb(228, 31, 58);
}

#slide4 h2 {
    font-size: 2em;
    color: rgb(128, 128, 128);
    line-height: 0px;
    padding-bottom: 30px;
    padding-top: 20px;
}

#slide4 p {
    padding: 10px;
}

#slide4 .wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../images/dot-pattern.png);
}

/**********************************/
/************* Tablet *************/
/**********************************/

@media screen and (max-width: 1024px) {

    #logo {
        width: 100%;
        text-align: center;
    }

    #nav {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .navigation {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navigation li {
        float: left;
        width: 25%;
        padding: 0;
    }

    .slide {
        background-attachment: fixed;
        width: 100%;
        position: relative;
        /*padding: 150px 0;*/
    }

    #decorative {
        display: none;
    }

    #content {
        text-align: center;
        width: 100%;
    }

    #slide1 h1 {
        line-height: 1em;
    }

    #slide1 h2 {
        line-height: 1em;
    }

    #slide2 h1 {
        line-height: 1em;
    }

    #slide2 h2 {
        line-height: 1em;
    }

    #slide3 h1 {
        line-height: 1em;
    }

    #slide3 h2 {
        line-height: 1em;
    }

    #slide4 h1 {
        line-height: 1em;
    }

    #slide4 h2 {
        line-height: 1em;
    }

}

/**********************************/
/************* Mobile *************/
/**********************************/

@media screen and (max-width: 480px) {

    #logo {
        width: 100%;
        text-align: center;
    }

    #nav {
        width: 100%;
        margin: 5px 0;
    }

    .navigation {
        width: 100%;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navigation li {
        float: left;
        width: 25%;
    }

    .slide {
        background-attachment: fixed;
        width: 100%;
        position: relative;
        /*padding: 150px 0;*/
    }

    #slide1  {
        background-color: #ffffff;
    }

    #slide1 h1 {
        line-height: 1em;
    }



    #slide1 h2 {
        line-height: 1em;
    }

    #slide2  {
        background-color: #ffffff;
    }

    #slide2 h1 {
        line-height: 1em;
    }

    #slide2 h2 {
        line-height: 1em;
    }

    #slide3  {
        background-color: #ffffff;
    }

    #slide3 h1 {
        line-height: 1em;
    }

    #slide3 h2 {
        line-height: 1em;
    }

    #slide4  {
        background-color: #ffffff;
    }

    #slide4 h1 {
        line-height: 1em;
    }

    #slide4 h2 {
        line-height: 1em;
    }

}